<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/messenger3.css">
    <link rel="shortcut icon" href="https://img.icons8.com/?size=512&id=tHn9rAOraP3C&format=png" type="image/x-icon">
    <title>Messenger</title>
    <script>
        function GoDown() {
            let where = document.getElementById("last");
            document.getElementById("cont").style.cssText = `
                scroll-behavior: smooth;
                color:aliceblue;
                overflow: scroll;
                width: 100%;
                height: 100%;
            `;
            document.getElementById("cont").scrollBy(0, document.getElementById("cont").scrollHeight);
        }
    </script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>
<body onload="ChatsON()">
<p hidden="true" id="chat_id"></p>
<p hidden="true" id="user_id">{{current_user.id}}</p>
<section id="background">
    <div class="menu_bar">
        <div class="tools">
            <button onclick="SettingsON()" class="tool">
                <ion-icon name="menu-outline" size="large"></ion-icon>
            </button>
        </div>
        <div class="chats" id="chats">
            <button class="chat_btn" onclick="OpenChat(1)">
                <div class="chat">
                    <img class="chat_icon"
                         src="https://w7.pngwing.com/pngs/761/651/png-transparent-avatar-cloud-crying-rain-avatars-xmas-giveaway-icon.png">
                    <div>
                        <p style="overflow: hidden;">Саратов</p>
                        <p class="last_messege">Нет такой, я не вру</p>
                    </div>
                </div>
            </button>
            <button class="chat_btn" onclick="OpenChat(2)">
                <div class="chat">
                    <img class="chat_icon"
                         src="https://avatarko.ru/img/avatar/13/pokemon_pikachu_Starcraft_12668.jpg">
                    <div>
                        <p style="overflow: hidden;">Куда</p>
                        <p class="last_messege">Нет такой, я не вру
                        </p>
                    </div>
                </div>
            </button>
        </div>
        <div class="add_chats" id="add_chats">
            <form action="" class="add_users_bar" method="POST" id="private_chats">
                <p style="color: azure; overflow: hidden; font-size: 16px; margin-left: 10px; margin-bottom: 10px">
                    <ion-icon name="add-circle"></ion-icon>
                    Create Chat
                </p>
                <input autocomplete="off" class="field_text" type="text" name="name-chat" id="name-chat"
                       placeholder="Название чата" value="">
                <div class="form_radio_btn">
                    <input id="radio-1" name="radio-1" type="checkbox" value="1">
                    <label for="radio-1">
                        <img class="chat_icon"
                             src="https://w7.pngwing.com/pngs/761/651/png-transparent-avatar-cloud-crying-rain-avatars-xmas-giveaway-icon.png">
                        <p style="overflow: hidden; font-size: 17px;">Вадимка</p>
                    </label>
                </div>
                <div class="form_radio_btn">
                    <input id="radio-2" name="radio-2" type="checkbox" value="2">
                    <label for="radio-2">
                        <img class="chat_icon"
                             src="https://w7.pngwing.com/pngs/761/651/png-transparent-avatar-cloud-crying-rain-avatars-xmas-giveaway-icon.png">
                        <p style="overflow: hidden; font-size: 17px;">Ананс</p>
                    </label>
                </div>
                <div class="form_radio_btn">
                    <input id="radio-3" name="radio-3" type="checkbox" value="3">
                    <label for="radio-3">
                        <img class="chat_icon"
                             src="https://w7.pngwing.com/pngs/761/651/png-transparent-avatar-cloud-crying-rain-avatars-xmas-giveaway-icon.png">
                        <p style="overflow: hidden; font-size: 17px;">Антоша</p>
                    </label>
                </div>
            </form>
            <form action="" class="add_users_bar" style="margin-bottom: 20px;" method="POST">
                <p style="color: azure; overflow: hidden; font-size: 16px; margin-left: 10px; margin-bottom: 10px">
                    <ion-icon name="person-add"></ion-icon>
                    Add person
                </p>
                <input autocomplete="off" class="field_text" type="text" name="user-email" id="user-email"
                       placeholder="Emeil для начала беседы" value="">
            </form>
        </div>
        <div class="settings" id="settings">
            <button class="params" onclick="ProfileON()">
                <p style="overflow: hidden; margin-left: 20px; font-size: 20px;">
                    <ion-icon name="person-outline"></ion-icon>
                    Профиль
                </p>
            </button>
            <button class="params">
                <p style="overflow: hidden; margin-left: 20px; font-size: 20px;">
                    <ion-icon name="color-palette-outline"></ion-icon>
                    Вид
                </p>
            </button>
            <button class="params">
                <p style="overflow: hidden; margin-left: 20px; font-size: 20px;">
                    <ion-icon name="earth-outline"></ion-icon>
                    О нас
                </p>
            </button>
        </div>
        <button onclick="ChengeChats()" id="add_btn" class="add_button">
            <ion-icon name="add-circle"></ion-icon>
        </button>
    </div>
    <div class="messege_bar active" id="messeges">
        <div class="chat_bar" id="chat_header">
            <img class="chat_icon"
                 src="https://upload.wikimedia.org/wikipedia/ru/6/6b/NyanCat.gif?20210505175822">
            <div>
                <p>Nyn Cat</p>
                <p class="last_messege">3 members</p>
            </div>
            <button class="chat_settings" href="#" onclick="OnOffChatSettings()">
                <ion-icon name="ellipsis-vertical" size="large"></ion-icon>
                </ion-icon></button>
        </div>
        <div class="chat_settings_bar" id="chat_settings_bar">
            <div id="settings_header_bar">
                <dic id="back_img" class="back_ground_chat_img"
                     style="background-image: url('https://upload.wikimedia.org/wikipedia/ru/6/6b/NyanCat.gif?20210505175822');">
                    <div class="chat_info_bar">
                        <img id="chat_img_set" onclick="OnOffChatImg()" class="chat_icon_bar"
                             src="https://upload.wikimedia.org/wikipedia/ru/6/6b/NyanCat.gif?20210505175822">
                        <div>
                            <input id="chat_title" value="Nyn Cat" maxlength=12 type="text" class="chat_name_inp"
                                   style="overflow: hidden; font-size: 30px; margin: 10px">
                        </div>
                        <button class="chat_leave" style="margin-right: 20px" onclick="DeleteChat()">
                            <ion-icon name="exit" size="large"></ion-icon>
                        </button>
                    </div>
                </dic>
            </div>
            <br><br>
            <div class="members_list">
                <div class="chat_settings_info" id="chat_settings_info">
                    <p>
                        <ion-icon name="person"></ion-icon>
                        Members: 7
                    </p>
                    <p>
                        <ion-icon name="chatbubbles"></ion-icon>
                        Messages: 2354
                    </p>
                </div>
                <div class="chat_settings_info" id="Members_list">
                    <div class="members_div active" id="members_div">
                        <div style="margin-bottom: 20px; margin-left: 0px">
                            <ion-icon name="people"></ion-icon>
                            Members

                            <button class="chat_settings" style="margin-left: 49%; font-size: 16px" href="#"
                                    onclick="OnOffAddMember()">
                                <ion-icon name="person-add"></ion-icon>
                                add
                            </button>
                        </div>
                        <div class="form_chat_btn">
                            <img class="chat_icon"
                                 src="https://cspromogame.ru//storage/upload_images/avatars/4034.jpg">
                            <p style="overflow: hidden; font-size: 17px;">Вадимка</p>
                            <button class="chat_member_button" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="chatbubble-ellipses"></ion-icon>
                            </button>
                            <button class="chat_member_button_del" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="close"></ion-icon>
                            </button>
                        </div>
                        <div class="form_chat_btn">
                            <img class="chat_icon"
                                 src="https://cspromogame.ru//storage/upload_images/avatars/1901.jpg">
                            <p style="overflow: hidden; font-size: 17px;">Вадимка</p>
                            <button class="chat_member_button" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="chatbubble-ellipses"></ion-icon>
                            </button>
                            <button class="chat_member_button_del" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="close"></ion-icon>
                            </button>
                        </div>
                        <div class="form_chat_btn">
                            <img class="chat_icon"
                                 src="https://cspromogame.ru//storage/upload_images/avatars/4842.jpg">
                            <p style="overflow: hidden; font-size: 17px;">Вадимка</p>
                            <button class="chat_member_button" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="chatbubble-ellipses"></ion-icon>
                            </button>
                            <button class="chat_member_button_del" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="close"></ion-icon>
                            </button>
                        </div>
                        <div class="form_chat_btn">
                            <img class="chat_icon"
                                 src="https://media.tenor.com/EmV5v0i8-38AAAAC/anime-eating.gif">
                            <p style="overflow: hidden; font-size: 17px;">Вадимка</p>
                            <button class="chat_member_button" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="chatbubble-ellipses"></ion-icon>
                            </button>
                            <button class="chat_member_button_del" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="close"></ion-icon>
                            </button>
                        </div>
                        <div class="form_chat_btn">
                            <img class="chat_icon"
                                 src="https://media.tenor.com/CULefUr2qogAAAAC/senko-the-helpful-fox-senko-san.gif">
                            <p style="overflow: hidden; font-size: 17px;">Олех</p>
                            <button class="chat_member_button" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="chatbubble-ellipses"></ion-icon>
                            </button>
                            <button class="chat_member_button_del" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="close"></ion-icon>
                            </button>
                        </div>
                        <div class="form_chat_btn">
                            <img class="chat_icon"
                                 src="https://thumbs.gfycat.com/AdoredMellowAnkolewatusi-size_restricted.gif">
                            <p style="overflow: hidden; font-size: 17px;">Вадимка</p>
                            <button class="chat_member_button" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="chatbubble-ellipses"></ion-icon>
                            </button>
                            <button class="chat_member_button_del" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="close"></ion-icon>
                            </button>
                        </div>
                        <div class="form_chat_btn">
                            <img class="chat_icon"
                                 src="https://pa1.narvii.com/6982/4b38089a5eb35cc04dec10d8ac8dc40d36b81bf1r1-320-308_00.gif">
                            <p style="overflow: hidden; font-size: 17px;">Вадимка</p>
                            <button class="chat_member_button" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="chatbubble-ellipses"></ion-icon>
                            </button>
                            <button class="chat_member_button_del" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="close"></ion-icon>
                            </button>
                        </div>
                    </div>
                    <div class="img_div" id="img_div">
                        <p>
                            <ion-icon name="image"></ion-icon>
                            Выберите фото чата
                        </p>
                        <div class="text-img" style="margin-top: 20px; margin-left: 10px">
                            <div class="text-field__group">
                                <input id="chat_img_sel" autocomplete="off" class="text-field__input" type="search"
                                       id="chat_img"
                                       name="search">
                                <button class="text-field__btn" type="button" onclick="ChangeChatImg()">
                                    <ion-icon name="send-outline" size='large'></ion-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="add_member_div" id="add_member_div">
                        <div style="margin-bottom: 20px; margin-left: 0px">
                            <ion-icon name="person-add"></ion-icon>
                            </ion-icon> Addition

                            <button class="chat_settings" style="margin-left: 55%; font-size: 16px" href="#"
                                    onclick="OnOffAddMember()">
                                Back
                            </button>
                        </div>
                        <div class="form_chat_btn">
                            <img class="chat_icon"
                                 src="https://cspromogame.ru//storage/upload_images/avatars/1853.jpg">
                            <p style="overflow: hidden; font-size: 17px;">Вадимка</p>
                            <button class="chat_member_button_add" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="add"></ion-icon>
                            </button>
                        </div>
                        <div class="form_chat_btn">
                            <img class="chat_icon"
                                 src="https://cspromogame.ru//storage/upload_images/avatars/3915.jpg">
                            <p style="overflow: hidden; font-size: 17px;">Вадимка</p>
                            <button class="chat_member_button_add" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="add"></ion-icon>
                            </button>
                        </div>
                        <div class="form_chat_btn">
                            <img class="chat_icon"
                                 src="https://mangalib.me/uploads/posts/4.gif">
                            <p style="overflow: hidden; font-size: 17px;">Вадимка</p>
                            <button class="chat_member_button_add" href="#" onclick="OnOffChatSettings()">
                                <ion-icon name="add"></ion-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat_settings_button">
                <button class="chat_s_bts_cansel" onclick="OnOffChatSettings()">Закрыть</button>
                <button class="chat_s_bts_submit" onclick="sendChatForm()">Применить</button>
            </div>
        </div>
        <div ali class="messeges" id="cont" oneclick="GoDown()" name="2">
        </div>
        <button onclick="GoDown()" class="go_down_button" id="godown">
            <ion-icon name="chevron-down"></ion-icon>
        </button>
        <div class="text-field" id="input_message_bar">
            <div class="text-field__group">
                <input autocomplete="off" class="text-field__input" type="search" id="search" name="search">
                <button class="text-field__btn" type="button" onclick="sendMessege()">
                    <ion-icon name="send-outline" size='large'></ion-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="profile" id="profile" style="overflow: hidden; background-color: rgba(0, 0, 0, 0.404);">
        <div class="Profile_bar" id="pofile_bar" style="overflow: hidden;">
            <dic id="back_profile_img" class="back_ground_profile_img"
                 style="background-image: url({{current_user.img}});">
                <div class="profile_info_bar">
                    <img id="profile_img_set" onclick="OnOffChatImg()" class="chat_icon_bar"
                         src={{current_user.img}}>
                    <div>
                        <p style="overflow: hidden; font-size: 30px; margin-left: 10px">{{current_user.name}}</p>
                        <p style="color:rgb(189, 203, 219); overflow: hidden; font-size: 16px; margin-left: 10px">
                            {{current_user.email}}</p>
                    </div>
                    <a class="chat_leave" style="margin-right: 20px" href="/logout">
                        <ion-icon name="exit" size="large"></ion-icon>
                    </a>
                </div>
            </dic>
            <div class="profile_tool_list">
                <div class="chat_settings_info">
                    <div class="members_div active" id="info_div">
                        <div style="margin-bottom: 20px; margin-left: 0px; font-size: 20px">
                            <ion-icon name="cog-outline"></ion-icon>
                            </ion-icon> Info
                        </div>
                        <div class="color_box">
                            <p style="color:azure; overflow: hidden; font-size: 16px; margin-left: 40px; margin-bottom: 10px">
                                <ion-icon name="person"></ion-icon>
                                Name: {{current_user.name}}
                            </p>
                            <p style="color: azure; overflow: hidden; font-size: 16px; margin-left: 40px; margin-bottom: 10px">
                                <ion-icon name="mail"></ion-icon>
                                Email: {{current_user.email}}
                            </p>
                            <p id="chats_count"
                               style="color: azure; overflow: hidden; font-size: 16px; margin-left: 40px; margin-bottom: 10px">
                                <ion-icon name="chatbubbles"></ion-icon>
                                Chats: 17
                            </p>
                        </div>
                    </div>
                </div>
                <div class="chat_settings_info">
                    <div class="members_div active">
                        <div style="margin-bottom: 20px; margin-left: 0px; font-size: 20px">
                            <ion-icon name="image"></ion-icon>
                            Profile Image
                        </div>
                        <div class="color_box">
                            <p style="color: azure; overflow: hidden; font-size: 16px; margin-left: 40px; margin-bottom: 10px">
                                <ion-icon name="help-circle"></ion-icon>
                                Enter URL
                            </p>
                            <div class="text-field" style="">
                                <div class="text-field__group">
                                    <input autocomplete="off" class="text-field__input" type="search"
                                           id="profile_img_sel"
                                           name="search">
                                    <button onclick="ChangeProfileImg()" class="text-field__btn" type="button" id="111">
                                        <ion-icon name="checkmark" size="large"></ion-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat_settings_info">
                    <div class="members_div active" id="members_div">
                        <div style="margin-bottom: 20px; margin-left: 0px; font-size: 20px">
                            <ion-icon name="copy"></ion-icon>
                            View
                        </div>
                        <div class="color_box">
                            <div class="pre_cont" id="pre_cont">
                                <img class="pre_img" id="pre_img1" src={{current_user.current_background}}>
                                <img onclick="SwitchBackground()" class="pre_img" id="pre_img2"
                                     src={{current_user.past_background}}>
                            </div>

                            <p style="color: azure; overflow: hidden; font-size: 16px; margin-left: 40px; margin-bottom: 10px">
                                <ion-icon name="help-circle"></ion-icon>
                                Add New
                            </p>
                            <div class="text-field" style="">
                                <div class="text-field__group">
                                    <input autocomplete="off" class="text-field__input" type="search" id="bk_img_sel"
                                           name="search">
                                    <button onclick="ChangeBackground()" class="text-field__btn" type="button"
                                            id="1112">
                                        <ion-icon name="checkmark" size="large"></ion-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat_settings_info">
                    <div class="members_div active" id="members_div">
                        <div style="margin-bottom: 20px; margin-left: 0px; font-size: 20px">
                            <img src="https://img.icons8.com/?size=512&id=tHn9rAOraP3C&format=png"
                                 style="width: 20px; width: 20px;">
                            About
                        </div>
                        <div class="color_box">
                            <div style="margin-left: 20px;">
                                <p>
                                    Canary - WEBmessenger, созданный одним ненормальным, как проект для образовательной
                                    платформы Лицей Академии Яндекс
                                </p>
                                <br>
                                <p>
                                    Продолжая пользоваться Canary вы даёте себе отсчёт, что ваши данный не защищенный и
                                    находяться по угрозой.
                                    Также в случае сбоев просьба не писать в техническую поддержду (нам абсалютно всё
                                    равно)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<script src="static/js/lol.js"></script>
<script>
    document.getElementById("background").style = ("background-image: url({{current_user.current_background}});")
</script>
<script type="text/javascript">
            function mode() {
            var chat_num = document.getElementById("chat_id").innerHTML;
            if (chat_num) {
                $.ajax({
                    url: 'api/get_messages/' + chat_num,
                    success: function (data) {
                        var h = document.getElementById("cont").scrollHeight;
                        $('#cont').html(data["data"]);


                        if (document.getElementById("cont").scrollHeight != h && h - (document.getElementById("cont").scrollTop + document.getElementById("cont").offsetHeight) <= 150) {
                            GoDown();
                        }
                    }
                });
            }
        };
            setInterval(mode, 1000);
</script>
<script>
        $.ajax({
            url: 'api/user_chats',
            success: function(data) {
                $('#chats').html(data["data"]);
            }
        });
        function mode() {
            $.ajax({
                url: 'api/user_chats',
                success: function(data) {
                    $('#chats').html(data["data"]);
                    if (document.getElementById("chat_id").innerHTML != "" || document.getElementById("chat_id").innerHTML != 0){
                        ChangeChatHead(document.getElementById("chat_id").innerHTML);
                    }
                }
            });
        };
        setInterval(mode, 5000);
</script>
<script>
    LoadChatHeader()
</script>
<script>
        let div = document.createElement('div');

        div.innerHTML = ``;
        div.className = "messeges";
        div.id = "cont"
        document.getElementById("cont").replaceWith(div);




</script>
<script>
        let where = document.getElementById("last");

        document.getElementById("cont").style.cssText = `
        color:aliceblue;
        overflow: scroll;
        width: 100%;
        height: 100%;
        `;

        document.getElementById("cont").scrollTo(0, document.getElementById("cont").scrollHeight);




</script>
<script>
        $(document).keydown(function(e) {
            if(e.keyCode === 13) {
              sendMessege();
            }
        });




</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>